/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a {
  color: inherit;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul,
ol,
ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

a:focus,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Melon Qatar";
  src: url("../public/fonts/melonqatarregular.ttf");
}
@font-face {
  font-family: "Merge One";
  src: url("../public/fonts/MergeOne-Regular.ttf");
}
:root {
  --font-family: "Melon Qatar", sans-serif;
  --second-family: "Merge One", sans-serif;
  --third-family: "Manrope", sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: #000;
}

.scroll-off {
  max-height: 100vh;
  overflow: hidden;
}

.tooltip {
  padding: 12px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  border-radius: 24px;
  position: fixed;
  top: 10%;
  left: 50%;
  translate: -50% 0;
  opacity: 0;
  display: none;
  transition: all 400ms ease;
  z-index: 21;
  font-family: var(--second-family);
  color: #fff;
}

.tooltip.visible {
  display: block;
  animation: tooltip-show 400ms linear forwards;
}

@keyframes tooltip-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.header {
  width: 100%;
  padding-left: 46px;
  padding-right: 46px;
  position: absolute;
  top: 47px;
  z-index: 10;
}
@media screen and (max-width: 1079px) {
  .header {
    padding-left: 15px;
    padding-right: 15px;
    top: 14px;
  }
}

.header__top {
  display: none;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 15px;
}
@media screen and (max-width: 1079px) {
  .header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 79px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .header__title {
    font-size: 44px;
  }
}

.header__subtitle {
  margin-right: auto;
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #94cbff;
  transform: rotate(90deg);
}
@media screen and (max-width: 1079px) {
  .header__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 1079px) {
  .header__navigation {
    display: none;
  }
}
.header__navigation ol {
  border: 1px solid #252525;
  padding: 8px;
  display: flex;
  gap: 12px;
}
.header__navigation ol a {
  display: block;
  padding: 7px 15px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  color: #252525;
  transition: color 200ms ease, background-color 200ms ease;
}
.header__navigation ol a:hover {
  background-color: #94cbff;
  color: #fff;
}

.header__menu {
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -200vh;
  left: 0;
  z-index: 20;
  background-color: #fff;
  color: #000;
  transition: all 500ms ease;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  font-family: var(--second-family);
}

.header__menu.visible {
  top: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  font-size: 32px;
  text-transform: capitalize;
}

.header__menu-btn {
  width: 62px;
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  position: relative;
  z-index: 21;
}
@media screen and (max-width: 1079px) {
  .header__menu-btn {
    display: flex;
  }
}
.header__menu-btn div {
  width: 100%;
  height: 2px;
  background-color: #94cbff;
  border-radius: 10px;
  transition: all 200ms ease;
}

.header__menu-btn.close div:nth-of-type(1) {
  width: 100%;
  rotate: 45deg;
  translate: 0 9px;
}
.header__menu-btn.close div:nth-of-type(2) {
  display: none;
}
.header__menu-btn.close div:nth-of-type(3) {
  translate: 0 -9px;
  rotate: -45deg;
}

.home {
  padding-top: 278px;
  padding-bottom: 62px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .home {
    padding-top: 124px;
    padding-bottom: 90px;
  }
}
.home::before {
  content: url("../public/img/common/lines.png");
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  scale: 1.13;
}
@media screen and (max-width: 1079px) {
  .home::before {
    translate: -35% -6%;
    scale: 0.7;
  }
}

.home__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 230px;
}
@media screen and (max-width: 1079px) {
  .home__container {
    gap: 60px;
  }
}

.home__wrap {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 64px;
}
@media screen and (max-width: 1079px) {
  .home__wrap {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.home__title {
  font-size: 154px;
  line-height: 92%;
  letter-spacing: -0.02em;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .home__title {
    margin-bottom: 24px;
    font-size: 52px;
    text-align: center;
  }
}
.home__title span {
  display: block;
  color: #94cbff;
}
@media screen and (max-width: 1079px) {
  .home__title span {
    display: inline;
  }
}

.home__socials {
  margin-bottom: 24px;
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1079px) {
  .home__socials {
    grid-row: 2/3;
    margin-bottom: 34px;
  }
}
.home__socials a {
  transition: scale 200ms ease;
}
.home__socials a:hover {
  scale: 1.1;
}
.home__socials a:last-of-type {
  user-select: none;
  pointer-events: none;
}

.home__description {
  max-width: 403px;
  margin-bottom: 45px;
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .home__description {
    grid-row: 1/2;
    margin-bottom: 51px;
    font-size: 18px;
    text-align: center;
  }
}
@media screen and (max-width: 440px) {
  .home__description {
    max-width: 345px;
  }
}

.home__btns {
  display: flex;
  gap: 15px;
}
@media screen and (max-width: 1079px) {
  .home__btns {
    grid-row: 3/4;
    flex-direction: column;
  }
}
.home__btns a {
  width: 194px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #fff;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  color: #000;
  transition: filter 200ms ease;
}
@media screen and (max-width: 1079px) {
  .home__btns a {
    width: 142px;
    height: 40px;
    font-size: 13px;
  }
}
.home__btns a:hover {
  filter: brightness(0.9);
}
.home__btns a:active {
  filter: brightness(1);
}

@media screen and (max-width: 1079px) {
  .home__img {
    margin-bottom: 22px;
  }
}
@media screen and (max-width: 440px) {
  .home__img {
    width: 138px;
  }
}
.home__img img {
  filter: drop-shadow(0 10px 10px #6d6d6d);
  user-select: none;
  pointer-events: none;
}

.home__token {
  display: flex;
  align-items: center;
  gap: 30px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #8290ac;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .home__token {
    gap: 24px;
    font-size: 14px;
  }
}
.home__token img {
  min-width: 494px;
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50% -45%;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}
@media screen and (max-width: 1079px) {
  .home__token img {
    min-width: 243px;
    translate: -50% -38%;
  }
}

.token__code {
  max-width: 340px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 1079px) {
  .token__code {
    max-width: 150px;
  }
}

.token__copy {
  transition: filter 200ms ease;
}
.token__copy:hover {
  filter: brightness(0.6);
}
.token__copy:active {
  filter: brightness(1);
}

@media screen and (max-width: 1079px) {
  .home__text {
    display: grid;
    justify-items: center;
  }
}

.about {
  padding-top: 210px;
  padding-bottom: 420px;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .about {
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.about__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .about__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__title {
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 80px;
  line-height: 93%;
  color: #94cbff;
}
@media screen and (max-width: 1079px) {
  .about__title {
    margin-bottom: 36px;
    font-size: 52px;
  }
  .about__title img {
    display: none;
  }
}

.about__description {
  max-width: 733px;
  margin-bottom: 88px;
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 180%;
  color: #000;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .about__description {
    margin-bottom: 332px;
    text-align: center;
    font-size: 18px;
  }
}

.about__wrap {
  display: flex;
  align-items: center;
  gap: 114px;
}
@media screen and (max-width: 1079px) {
  .about__wrap {
    margin-left: auto;
    flex-direction: column-reverse;
    gap: 0;
  }
}
.about__wrap p {
  max-width: 290px;
  margin-bottom: 7px;
  font-family: var(--second-family);
  font-size: 14px;
  line-height: 180%;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .about__wrap p {
    max-width: 345px;
    margin-bottom: 20px;
    line-height: 163%;
    letter-spacing: -0.03em;
    font-size: 18px;
    text-align: right;
  }
}

.about__statistics {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--second-family);
  color: #000;
}
@media screen and (max-width: 1079px) {
  .about__statistics {
    gap: 10px;
    align-self: start;
    translate: 0 -100%;
  }
  .about__statistics div {
    display: flex;
    flex-direction: column;
  }
}
.about__statistics b {
  display: block;
  font-size: 68px;
  font-weight: 400;
}
@media screen and (max-width: 1079px) {
  .about__statistics b {
    font-size: 31px;
    line-height: 80%;
  }
}
.about__statistics span {
  font-size: 18px;
}
@media screen and (max-width: 1079px) {
  .about__statistics span {
    font-size: 8px;
    line-height: 80%;
  }
}

.about__btn {
  width: 194px;
  height: 55px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: box-shadow 200ms ease;
}
@media screen and (max-width: 1079px) {
  .about__btn {
    width: 134px;
    height: 38px;
    margin-left: auto;
    font-size: 12px;
  }
}
.about__btn:hover {
  box-shadow: 0 0 10px #ccc inset;
}
.about__btn:active {
  box-shadow: 0 0 2px #ccc inset;
}

.about__img {
  position: absolute;
  top: -50px;
  right: 60px;
}
@media screen and (max-width: 1079px) {
  .about__img {
    top: 206px;
    right: 50%;
    translate: 50% 0;
  }
  .about__img img {
    width: 175px;
  }
}
@media screen and (max-width: 490px) {
  .about__img {
    top: 256px;
  }
}
@media screen and (max-width: 405px) {
  .about__img {
    top: 306px;
  }
}

.about__ticker {
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1079px) {
  .about__ticker {
    height: 50px;
  }
}
.about__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 20s linear infinite;
  padding-left: 136px;
}
@media screen and (max-width: 1079px) {
  .about__ticker .ticker__wrap {
    gap: 77px;
    padding-left: 80px;
  }
}
.about__ticker .ticker__wrap span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .about__ticker .ticker__wrap span {
    font-size: 19px;
  }
}

@keyframes tickerMove {
  to {
    translate: -50% 0;
  }
}
.participate {
  padding-top: 105px;
  padding-bottom: 308px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .participate {
    padding-top: 83px;
    padding-bottom: 102px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.participate:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(180deg, #fff 0%, #e9f1ff 100%);
}
@media screen and (max-width: 768px) {
  .participate:before {
    display: none;
  }
}
.participate > img {
  position: absolute;
  top: 888px;
  left: 0;
}
@media screen and (max-width: 768px) {
  .participate > img {
    display: none;
  }
}

.participate__title {
  width: fit-content;
  margin-bottom: 150px;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: #94cbff;
  translate: 320px 0;
}
@media screen and (max-width: 1079px) {
  .participate__title {
    width: 100%;
    translate: 0;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .participate__title {
    margin-bottom: 60px;
    font-size: 52px;
  }
}

.participate__step-1 {
  margin-bottom: 178px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 130px;
  font-family: var(--second-family);
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-1 {
    margin-bottom: 57px;
    flex-direction: column;
    gap: 23px;
  }
  .participate__step-1 > img {
    width: 124px;
  }
}
.participate__step-1 h3 {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  .participate__step-1 h3 {
    margin-bottom: 51px;
    font-size: 36px;
  }
}
.participate__step-1 h3 span {
  font-size: 68px;
}
@media screen and (max-width: 768px) {
  .participate__step-1 h3 span {
    font-size: 36px;
  }
}
.participate__step-1 p {
  max-width: 297px;
  margin-bottom: 26px;
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 180%;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-1 p {
    display: none;
  }
}
.participate__step-1 div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 768px) {
  .participate__step-1 div {
    align-items: center;
  }
}
.participate__step-1 div a {
  width: 194px;
  height: 55px;
  background-color: #000;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  transition: opacity 400ms ease, background-color 100ms ease;
}
.participate__step-1 div a:hover {
  opacity: 1;
}
.participate__step-1 div a:active {
  background-color: #303030;
}

.participate__step-2 {
  margin-bottom: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 92px;
}
@media screen and (max-width: 768px) {
  .participate__step-2 {
    margin-bottom: 34px;
    flex-direction: column-reverse;
    gap: 76px;
  }
  .participate__step-2 img {
    width: 175px;
  }
}
.participate__step-2 h3 {
  margin-bottom: 37px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  font-family: var(--second-family);
  font-size: 22px;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-2 h3 {
    flex-direction: row-reverse;
    justify-content: center;
    font-size: 36px;
  }
}
.participate__step-2 h3 span {
  font-family: var(--second-family);
  font-size: 68px;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-2 h3 span {
    font-size: 36px;
  }
}
.participate__step-2 p {
  max-width: 275px;
  font-family: var(--second-family);
  font-size: 16px;
  line-height: 180%;
  text-align: right;
  color: #000;
}
@media screen and (max-width: 768px) {
  .participate__step-2 p {
    max-width: 327px;
    font-size: 18px;
    text-align: center;
  }
}

.participate__step-3 {
  width: min(1100px, 100%);
  height: 618px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
  border-radius: 20px;
  background-image: url("../public/img/participate/participate_step_3_bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 768px) {
  .participate__step-3 {
    height: auto;
    padding-top: 27px;
    padding-bottom: 16px;
    border-radius: 13px;
  }
}
.participate__step-3::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0) 60%);
}
@media screen and (max-width: 768px) {
  .participate__step-3::before {
    border-radius: 13px;
  }
}
.participate__step-3 h3 {
  margin-bottom: 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  font-family: var(--font-family);
  font-size: 188px;
  text-transform: uppercase;
  color: #fff;
  line-height: 70%;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .participate__step-3 h3 {
    margin-bottom: 47px;
    gap: 120px;
    font-size: 52px;
  }
}
.participate__step-3 h3 span {
  font-family: var(--second-family);
  font-size: 68px;
  text-align: right;
  color: #fff;
  line-height: 80%;
}
@media screen and (max-width: 768px) {
  .participate__step-3 h3 span {
    font-size: 36px;
    background: linear-gradient(113deg, #fff 0%, #999 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.participate__step-3 a {
  width: 194px;
  height: 55px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #000;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: filter 200ms ease;
}
@media screen and (max-width: 768px) {
  .participate__step-3 a {
    width: 123px;
    height: 34px;
    font-size: 11px;
  }
}
.participate__step-3 a:hover {
  filter: brightness(0.8);
}
.participate__step-3 a:active {
  filter: brightness(1);
}

.participate__ticker {
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1079px) {
  .participate__ticker {
    height: 50px;
  }
}
.participate__ticker .ticker__wrap {
  display: flex;
  align-items: center;
  gap: 124px;
  animation: tickerMove 20s linear infinite;
  padding-left: 136px;
}
@media screen and (max-width: 1079px) {
  .participate__ticker .ticker__wrap {
    gap: 77px;
    padding-left: 80px;
  }
}
.participate__ticker .ticker__wrap span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .participate__ticker .ticker__wrap span {
    font-size: 19px;
  }
}

.tokenomic {
  padding-top: 246px;
  padding-bottom: 322px;
  position: relative;
}
@media screen and (max-width: 1079px) {
  .tokenomic {
    padding-top: 52px;
    padding-bottom: 108px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.tokenomic__container {
  width: min(970px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding: 84px 66px;
  border: 1px solid #000;
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .tokenomic__container {
    padding: 15px 0;
    flex-direction: column;
    align-items: center;
  }
}

.tokenomic__title {
  margin-bottom: 90px;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .tokenomic__title {
    margin-bottom: 340px;
    font-size: 52px;
    color: #3faae8;
    text-align: center;
  }
}

.tokenomic__statistics {
  display: flex;
  flex-direction: column;
  gap: 46px;
}
@media screen and (max-width: 1079px) {
  .tokenomic__statistics {
    align-items: center;
    gap: 38px;
  }
}
.tokenomic__statistics h3 {
  display: flex;
  gap: 8px;
  font-family: var(--second-family);
  font-size: 33px;
  text-transform: uppercase;
  color: #000;
  text-wrap: nowrap;
}
@media screen and (max-width: 1079px) {
  .tokenomic__statistics h3 {
    font-size: 27px;
  }
}
.tokenomic__statistics h3 span {
  color: #3faae8;
}
.tokenomic__statistics > li > span {
  font-family: var(--second-family);
  font-size: 18px;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .tokenomic__statistics > li > span {
    font-size: 15px;
    text-align: center;
    display: block;
  }
}

@media screen and (max-width: 1079px) {
  .tokenomic__img {
    width: 273px;
    position: absolute;
    top: 88px;
    left: 50%;
    translate: -50% 0;
  }
}

@media screen and (max-width: 540px) {
  .tokenomic__lines {
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    translate: 0 45%;
    background-image: url("../public/img/tokenomic/tokenomic_lines_mobile.png");
    background-size: cover;
  }
}
.tokenomic__lines > img {
  min-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  translate: 0 26.5%;
  z-index: 0;
}
@media screen and (max-width: 540px) {
  .tokenomic__lines > img {
    display: none;
  }
}

.buy {
  padding-bottom: 114px;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 1079px) {
  .buy {
    padding-bottom: 45px;
  }
}

.buy__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.buy__title {
  margin-bottom: 102px;
  font-size: 80px;
  line-height: 93%;
  text-transform: uppercase;
  color: #3faae8;
}
@media screen and (max-width: 1079px) {
  .buy__title {
    margin-bottom: 43px;
    font-size: 52px;
    text-align: center;
  }
}

.buy__steps {
  margin-bottom: 55px;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
}
@media screen and (max-width: 1079px) {
  .buy__steps {
    width: fit-content;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
.buy__steps li {
  padding: 30px 18px;
  border: 1px solid #000;
}
@media screen and (max-width: 1079px) {
  .buy__steps li {
    padding: 24px 15px;
  }
}
.buy__steps li h3 {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: var(--second-family);
  font-size: 31px;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .buy__steps li h3 {
    width: fit-content;
    margin-bottom: 33px;
    font-size: 26px;
  }
}
.buy__steps li p {
  font-family: var(--second-family);
  font-size: 18px;
  line-height: 180%;
  color: #000;
}
@media screen and (max-width: 1079px) {
  .buy__steps li p {
    max-width: 344px;
    font-size: 15px;
  }
}

.buy__btn {
  width: 241px;
  height: 55px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: box-shadow 200ms ease;
}
@media screen and (max-width: 1079px) {
  .buy__btn {
    margin-left: auto;
    margin-right: auto;
  }
}
.buy__btn:hover {
  box-shadow: 0 0 10px #ccc inset;
}
.buy__btn:active {
  box-shadow: 0 0 2px #ccc inset;
}

/*# sourceMappingURL=styles.css.map */
