.about {
  padding-top: 210px;
  padding-bottom: 420px;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 1079px) {
    padding-top: 0;
    padding-bottom: 75px;
  }
}

.about__container {
  width: min(1310px, 100%);
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;

  @media screen and (max-width: 1079px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.about__title {
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 80px;
  line-height: 93%;
  color: #94cbff;

  @media screen and (max-width: 1079px) {
    margin-bottom: 36px;
    font-size: 52px;

    img {
      display: none;
    }
  }
}

.about__description {
  max-width: 733px;
  margin-bottom: 88px;
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 180%;
  color: #000;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 1079px) {
    margin-bottom: 332px;
    text-align: center;
    font-size: 18px;
  }
}

.about__wrap {
  display: flex;
  align-items: center;
  gap: 114px;

  @media screen and (max-width: 1079px) {
    margin-left: auto;
    flex-direction: column-reverse;
    gap: 0;
  }

  p {
    max-width: 290px;
    margin-bottom: 7px;
    font-family: var(--second-family);
    font-size: 14px;
    line-height: 180%;
    color: #000;

    @media screen and (max-width: 1079px) {
      max-width: 345px;
      margin-bottom: 20px;
      line-height: 163%;
      letter-spacing: -0.03em;
      font-size: 18px;
      text-align: right;
    }
  }
}

.about__statistics {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-family: var(--second-family);
  color: #000;

  @media screen and (max-width: 1079px) {
    gap: 10px;
    align-self: start;
    translate: 0 -100%;

    div {
      display: flex;
      flex-direction: column;
    }
  }

  b {
    display: block;
    font-size: 68px;
    font-weight: 400;

    @media screen and (max-width: 1079px) {
      font-size: 31px;
      line-height: 80%;
    }
  }
  span {
    font-size: 18px;

    @media screen and (max-width: 1079px) {
      font-size: 8px;
      line-height: 80%;
    }
  }
}

.about__btn {
  width: 194px;
  height: 55px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--third-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  transition: box-shadow 200ms ease;

  @media screen and (max-width: 1079px) {
    width: 134px;
    height: 38px;
    margin-left: auto;
    font-size: 12px;
  }

  &:hover {
    box-shadow: 0 0 10px #ccc inset;
  }
  &:active {
    box-shadow: 0 0 2px #ccc inset;
  }
}

.about__img {
  position: absolute;
  top: -50px;
  right: 60px;

  @media screen and (max-width: 1079px) {
    top: 206px;
    right: 50%;
    translate: 50% 0;

    img {
      width: 175px;
    }
  }
  @media screen and (max-width: 490px) {
    top: 256px;
  }
  @media screen and (max-width: 405px) {
    top: 306px;
  }
}

.about__ticker {
  width: 100%;
  height: 80px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1079px) {
    height: 50px;
  }

  .ticker__wrap {
    display: flex;
    align-items: center;
    gap: 124px;
    animation: tickerMove 20s linear infinite;
    padding-left: 136px;

    @media screen and (max-width: 1079px) {
      gap: 77px;
      padding-left: 80px;
    }

    span {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 32px;
      line-height: 100%;
      color: #000;

      @media screen and (max-width: 1079px) {
        font-size: 19px;
      }
    }
  }
}

@keyframes tickerMove {
  to {
    translate: -50% 0;
  }
}
