.header {
  width: 100%;
  padding-left: 46px;
  padding-right: 46px;
  position: absolute;
  top: 47px;
  z-index: 10;

  @media screen and (max-width: 1079px) {
    padding-left: 15px;
    padding-right: 15px;
    top: 14px;
  }
}

.header__top {
  display: none;
  font-family: var(--second-family);
  font-weight: 600;
  font-size: 15px;

  @media screen and (max-width: 1079px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-size: 79px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;

  @media screen and (max-width: 1079px) {
    font-size: 44px;
  }
}

.header__subtitle {
  margin-right: auto;
  font-family: var(--second-family);
  font-size: 22px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #94cbff;
  transform: rotate(90deg);

  @media screen and (max-width: 1079px) {
    font-size: 12px;
  }
}

.header__navigation {
  @media screen and (max-width: 1079px) {
    display: none;
  }

  ol {
    border: 1px solid #252525;
    padding: 8px;
    display: flex;
    gap: 12px;

    a {
      display: block;
      padding: 7px 15px;
      font-family: var(--second-family);
      font-weight: 400;
      font-size: 18px;
      color: #252525;
      transition: color 200ms ease, background-color 200ms ease;

      &:hover {
        background-color: #94cbff;
        color: #fff;
      }
    }
  }
}

.header__menu {
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: -200vh;
  left: 0;
  z-index: 20;
  background-color: #fff;
  color: #000;
  transition: all 500ms ease;
  background-image: url("../public/img/about/about_bg.jpg");
  background-size: cover;
  font-family: var(--second-family);
}

.header__menu.visible {
  top: 0;
}

.menu__list {
  display: flex;
  flex-direction: column;
  gap: 42px;
  font-size: 32px;
  text-transform: capitalize;
}

.header__menu-btn {
  width: 62px;
  display: none;
  flex-direction: column;
  align-items: end;
  gap: 16px;
  position: relative;
  z-index: 21;

  @media screen and (max-width: 1079px) {
    display: flex;
  }

  div {
    width: 100%;
    height: 2px;
    background-color: #94cbff;
    border-radius: 10px;
    transition: all 200ms ease;
  }
}

.header__menu-btn.close {
  div {
    &:nth-of-type(1) {
      width: 100%;
      rotate: 45deg;
      translate: 0 9px;
    }
    &:nth-of-type(2) {
      display: none;
    }
    &:nth-of-type(3) {
      translate: 0 -9px;
      rotate: -45deg;
    }
  }
}
